.button {
  background-color: transparent;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  padding-top: .7rem;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
  cursor: pointer;
  .material-icons {
    position: relative;
    top: -3px;
    margin-right: .5rem;
  }
}
.button.button--primary {
  border-color: $luar_blue;
  color: $luar_blue;
  padding: .5rem 1rem;
  &:hover {
    background-color: $luar_blue;
    color: white;
  }
}
.button.button--secondary {
  border-color: transparent;
  padding: .5rem 0;
  color: $grey_text;
  &:hover {
    color: $luar_blue;
  }
}

@media all and (min-width: 768px) {
  .button {
    font-size: 14px;
  }
  .button.button--primary {
    padding: .5rem 2rem;
  }
}
