.link {
  color: $luar_blue;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  i {
    margin-left: 5px;
    position: relative;
    top: -2px;
  }
}

