.ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  .li {
    flex: 1 50%;
    margin-bottom: .75rem;
  }
}
.ul.ul--vertical {
  display: block;
  li {
    margin-bottom: 1rem;
  }
}
@media all and (min-width: 768px) {
  .ul {
    .li {
      flex: initial;
      margin-right: 2.5rem;
    }
  }
}

.li {
  list-style: none;
  padding-left: 1rem;
  font-size: 16px;
  color: $black_text;
  position: relative;
  &:before {
    content: '';
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: $luar_blue;
    position: absolute;
    left: 0;
    top: 4px;
  }
}
