.tag {
  background-color: $luar_blue;
  color: white;
  height: 32px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem;
  padding-top: 6px;
  border-radius: 18px;
  margin: 0;
}
