.main-info-main-section {
  padding: 2.5rem 2rem;
}
.main-info-link-section {
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: flex-end;
}

.main-info-simple-section {
  margin-bottom: 1.6rem;
  &:last-child {
    margin-bottom: 0;
  }
}
@media all and (min-width: 1024px) {
  .main-info-main-section {
    padding-left: 4rem;
  }
  .main-info-simple-section {
    margin-bottom: 2.2rem;
  }
}

.desktop-title {
  display: none;
  position: relative;
  padding-top: 6px;
  div:first-child {
    position: absolute;
    left: -37px;
    top: 10px;
  }
}
.header-mobile {
  display: flex;
  div:first-child {
    margin-right: .75rem;
  }
}
@media all and (min-width: 1024px) {
  .header-mobile {
    display: none;
  }
  .desktop-title {
    display: flex;
  }
}

.action-section {
  display: flex;
  justify-content: flex-end;
}
.action-section__buttons {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
  button:first-child {
    margin-right: 1.5rem;
  }
}
@media all and (min-width: 1024px) {
  .action-section {
    padding: 2rem;
    padding-left: 4rem;
    padding-bottom: 0;
    justify-content: space-between;
  }
  .action-section__buttons {
    padding: 0;
  }
}
