// Brand Colors
$luar_blue: #0922AA;
$luar_pink: #D44879;

// Greys
$grey_text: #BCBDC3;
$grey_text_2: #B0B2BD;
$grey_background: #EFEFF2;

// Blacks
$black_text: #48494F;

// Blues
$blue_light: #E1E8F5;
